.text-gold {
    color: var(--color-primary);
}

.btn-gold {
    background-color: var(--color-primary);
    color: white;
    border: none;
}

.btn-gold:hover {
    background-color: var(--color-primary-dark);
    color: white;
}

.bg-dark-restaurant {
    background-color: #343a40;
}

/* Style des petits cercles (avatars) */
.avatar-circle {
    width: 35px;
    height: 35px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.uppercase-text {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.table thead th {
    border-top: none;
    padding: 15px 10px;
}

.table tbody td {
    padding: 15px 10px;
}

/* Effet au survol des lignes */
.table-hover tbody tr:hover {
    background-color: rgba(212, 175, 55, 0.05);
    transition: 0.2s;
}

.btn-group .btn {
    border-radius: 8px !important;
}
