<div class="login-container">
  <div class="login-box">

    <div class="login-banner">
      <div class="banner-content">
        <h1>Resto<span>Admin</span></h1>
        <p>Gérez votre établissement en toute simplicité.</p>
      </div>
    </div>

    <div class="login-form-section">
      <form class="login-form" (ngSubmit)="onLogin()">
        <h2>Bienvenue</h2>
        <p class="subtitle">Connectez-vous à votre espace</p>

        <div class="input-group">
          <label for="username">Nom d'utilisateur</label>
          <div class="input-wrapper">
            <i class="fa-solid fa-user input-icon"></i> <input
              type="text"
              id="username"
              name="username"
              [(ngModel)]="username"
              placeholder="Ex: valere237"
              required>
          </div>
        </div>

        <div class="input-group">
          <label for="password">Mot de passe</label>
          <div class="input-wrapper">
            <i class="fa-solid fa-lock input-icon"></i> <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="password"
              required>
          </div>
        </div>

        <button type="submit" class="btn-login">
          Se connecter
        </button>

        <a href="#" class="forgot-password">Mot de passe oublié ?</a>
      </form>
    </div>

  </div>
</div>
