<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-dark">
      <i class="fas fa-utensils me-2 text-gold"></i> Carte du Restaurant
    </h2>
    <button class="btn btn-gold shadow-sm" data-bs-toggle="modal" data-bs-target="#ProductModal" (click)="Ajouter()">
      <i class="fas fa-plus-circle me-2"></i> Ajouter un plat
    </button>
  </div>

  <div class="card border-0 shadow-sm mb-4">
    <div class="card-body p-2 px-3">
      <div class="row align-items-center">
        <div class="col-md-10">
          <input type="text" class="form-control border-0 shadow-none" placeholder="Rechercher un produit par nom ou catégorie...">
        </div>
        <div class="col-md-2 text-end">
          <i class="fas fa-search text-muted"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-0 shadow-sm rounded-3">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead class="bg-light">
            <tr>
              <th class="ps-4">Image</th>
              <th>Nom du produit</th>
              <th>Catégorie</th>
              <th>Prix</th>
              <th>Description</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let prod of listeProduits">
              <td class="ps-4">
                <img [src]="prod.image" class="product-img rounded shadow-sm" alt="Pizza">
              </td>
              <td><span class="fw-bold">{{ prod.nom}}</span></td>
              <td><span class="badge badge-category bg-soft-success text-success">{{ prod.categorie}}</span></td>
              <td><span class="text-gold fw-bold">{{ prod.prix}} €</span></td>
              <td><small class="text-muted">{{ prod.description}}</small></td>
              <td class="text-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-info me-2"
                          data-bs-toggle="modal"
                          data-bs-target="#viewProductModal"
                          (click)="voirDetails(prod)"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                  <button class="btn btn-sm btn-light text-primary me-2" data-bs-toggle="modal" data-bs-target="#ProductModal" (click)="Editer(prod)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-light text-danger" (click)="confirmerSuppression(prod)">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade" id="ProductModal"
  tabindex="-1" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header" [ngClass]="modeEdition ? 'bg-primary text-white' : 'bg-dark text-white' ">
        <h5 class="modal-title">
          <i class="fas" [ngClass]="modeEdition ? 'fa-edit' : 'fa-plus-circle'"></i>
          {{ modeEdition ? 'Modifier le produit' : 'Nouveau Produit' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label class="form-label fw-bold">Nom du plat</label>
            <input type="text" [(ngModel)]="produitSelectionne.nom" name="nom" class="form-control" placeholder="Ex: Burger Maison">
          </div>
          <div class="col-md-6">
            <label class="form-label fw-bold">Prix (FCFA)</label>
            <input type="number" [(ngModel)]="produitSelectionne.prix" name="prix" class="form-control" placeholder="1500">
          </div>
          <div class="col-md-6">
            <label class="form-label fw-bold">Catégorie</label>
            <select class="form-select" name="category" [(ngModel)]="produitSelectionne.categorie">
              <option>Entrées</option>
              <option>Plats</option>
              <option>Desserts</option>
              <option>Boissons</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="form-label fw-bold">Image (URL)</label>
            <input type="file" name="image" class="form-control" placeholder="Lien vers l'image">
          </div>
          <div class="col-12">
            <label class="form-label fw-bold">Description</label>
            <textarea class="form-control"  [(ngModel)]="produitSelectionne.description" name="description" rows="3" placeholder="Ingrédients, allergènes..."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn" [ngClass]="modeEdition ? 'btn-primary' : 'btn-gold'">
          {{ modeEdition ? 'Enregistrer les modifications' : 'Créer le produit' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewProductModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg" *ngIf="produitSelectionne">
      <div class="modal-header bg-light">
        <h5 class="modal-title fw-bold text-dark">Détails du Produit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-0">
        <div class="product-view-header">
          <img [src]="produitSelectionne.image" class="img-fluid w-100" style="height: 200px; object-fit: cover;">
        </div>

        <div class="p-4">
          <div class="d-flex justify-content-between align-items-start mb-3">
            <div>
              <h3 class="fw-bold mb-0">{{ produitSelectionne.nom }}</h3>
              <span class="badge bg-soft-warning text-warning text-uppercase small">{{ produitSelectionne.categorie }}</span>
            </div>
            <h3 class="text-gold fw-bold">{{ produitSelectionne.prix | number:'1.2-2' }} €</h3>
          </div>

          <hr class="text-muted opacity-25">

          <div class="mb-4">
            <h6 class="text-muted text-uppercase small fw-bold mb-2">Description / Ingrédients</h6>
            <p class="text-dark lh-base">{{ produitSelectionne.description }}</p>
          </div>
        </div>
      </div>

      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-gold px-4" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ProductModal" (click)="Editer(produitSelectionne)">
          <i class="fas fa-edit me-2"></i>Modifier
        </button>
      </div>
    </div>
  </div>
</div>

